{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Board & Financials</h2>
</div>
<hr>

<div class="container mb-4">
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/ScholarshipScam.jpg" class="float-left mr-4" style="width: 450px; height: 250px;">
    <h4 class="mb-3">MEET OUR TEAM</h4>
  
    <p>Educate California is a fiscally sponsored project of <a href="https://communitypartners.org" class="font-weight-bold" target="_blank">Community Partners</a>.</p>
    <div class="">
    <p class="mb-1">• <strong>Eric L. Moore</strong> – Founder & CEO, Educate California

    <p class="mb-1">• <strong>Samona Caldwell</strong> – Board Chair, Grassroots / Legislative Specialist – State Farm

    <p class="mb-1">• <strong>David Factor</strong>, President – Executive Service Corps of Southern California

    <p class="mb-1">• <strong>Irv Jaeger</strong>, CEO – New Phoenix Management Co.

    <p class="mb-1">• <strong>Ray Roche</strong>, District Package Ops Manager, So Cal – UPS
 
    <p>• <strong>Pamela Wiley, Ph.D.</strong>, President – Los Angeles Speech & Language Therapy Centers
    </p>
</div>
<div class="container mb-5">
      <h4 class="mb-3">FINANCIALS</h4>
    <p class="mb-1">Community Partners <a href="https://educate-ca.s3-us-west-1.amazonaws.com/CP+2019+Financials.pdf" class="font-weight-bold" target="_blank">2019 Audited Financials</a> (Educate California - 0713)
    <p class="mb-1">Community Partners <a href="https://educate-ca.s3-us-west-1.amazonaws.com/CP+2019+990.pdf" class="font-weight-bold" target="_blank">2019 IRS 990 Form</a>
    <p class="mb-1">Community Partners <a href="https://educate-ca.s3-us-west-1.amazonaws.com/CP+2020+Board+Roster.pdf" class="font-weight-bold" target="_blank">2020 Board Roster</a></p>
</div>
</div>

{% endblock %}