{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: cover">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Board & Financials</h2>
</div>
<hr>

<div class="container mb-4">

    <h4 class="mb-3">BOARD OF ADVISORS</h4>

   
    <p>Educate California is a fiscally sponsored project of <a href="https://communitypartners.org" class="font-weight-bold" target="_blank">Community Partners (<a href="https://educate-ca.s3-us-west-1.amazonaws.com/CP+2020+Board+Roster.pdf" class="font-weight-bold" target="_blank">Board Members</a>)</a></p>
</div>

</div>
 <div class="row container mb-0 pl-4 justify-content-center mx-auto">

  <div class="col-md-3">
    <div class="thumbnail">
      <a href="">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Dashboard/MiddleSchoolPic.jpg" class="mb-3" alt="Middle School" style="width:90%; border-radius: 10px;">
        <div class="caption">
          <p class="">Eric Moore, Founder & CEO</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Prepare/GettingPreparedPic.jpg" class="mb-3" alt="Prepared" style="width:90%; border-radius: 10px;">
        <div class="caption">
          <p class="">Samona Caldwell, Chairperson</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Dashboard/JourneyPic.jpg" class="mb-3" alt="Journey" style="width:90%; border-radius: 10px;">
        <div class="caption">
          <p class="">David Factor, Member</p>
        </div>
      </a>
    </div>
  </div>
</div>
<br>
 
<div class="row container justify-content-center mt-2 mb-3 pl-4 mx-auto">
    <div class="col-md-3">
    <div class="thumbnail">
      <a href="">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Dashboard/HealthyLivingPic1.jpg" class="mb-3" alt="Healthy Living" style="width:90%; border-radius: 10px;">
        <div class="caption">
          <p class="">Irwin Jaegar, Member</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Dashboard/HomeworkHelp1.jpg" class="mb-3" alt="Homework Help" style="width:90%; border-radius: 10px;">
        <div class="caption">
          <p class="">Ray Roche, Member</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Dashboard/ScholarshipsPic.jpg" class="mb-3" alt="Scholarships" style="width:90%; border-radius: 10px;">
        <div class="caption">

          <p class="">Pamela Wiley, Ph.D., Member</p>
        </div>
      </a>
    </div>
  </div>

 </div>

</div>
<div class="container mb-5">
      <h4 class="mb-3">FINANCIALS</h4>
    <p>Community Partners <a href="https://educate-ca.s3-us-west-1.amazonaws.com/CP+2019+Financials.pdf" class="font-weight-bold" target="_blank">2019 Audited Financials</a> (Educate California - 0713)
    and <a href="https://educate-ca.s3-us-west-1.amazonaws.com/CP+2019+990.pdf" class="font-weight-bold" target="_blank">2019 IRS 990 Form</a></p>
</div>
</div>

{% endblock %}