{% extends 'base.html' %}
{% block content %}
  
<div class="p-0 pic-edca m-0 w-100" style="no-repeat center; background-size: cover;"><img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/EdCA-BackgroundPic9.jpg" class="img-fluid pic-edca" >
</div>

<div class="container text-center">
    <h2 class="display-4 container text-center mt-3 mb-4"><span class="h1-responsive text-center">Contact </span> Us</h2>
</div>
    
    <hr>

<div class="container">
    <h5>For more information, please call or send us a message.</h5>
    <br><img src="https://educate-ca.s3-us-west-1.amazonaws.com/Contact+Us2.jpg" class="float-left mr-3" style="width: 250px; height: 160px;">
    <p><strong>EDUCATE CALIFORNIA</strong>
    <br>400 Corporate Pointe, Suite 300 Culver City CA 90230
    <br><i class="fas fa-envelope fa-sm"></i> Post Ofiice Box 83384, Los Angeles CA 90083-0384
    <br><i class="fas fa-phone fa-sm"></i>
        <a href="tel:310-491-6560">(310) 491-6560</a> | <i class="fas fa-fax fa-sm"></i> (310) 218-0484</p>

    <p class="mb-5"><strong>ERIC L. MOORE, FOUNDER & CEO</strong>
    <br>
    <a href="mailto:Eric@Educate-CA.org">Eric@Educate-CA.org</a></p>
</div>   
 
{% endblock %}