{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-3">
      <h2 class="display-4 container text-center">Give Today</h2>
</div>
<hr>

<div class="container mt-4 mb-5">
    <h4>PLEASE SUPPORT OUR EFFORTS!</h4>
    <h6 class="mb-4">Educate California is a fiscally sponsored project of Community Partners - Tax ID# 95-4302067.<br><small>Your donation is 100% tax-deductible and will be acknowledged.</small></h6> 
        <img src="https://educate-ca.s3-us-west-1.amazonaws.com/ThankYou-1.jpg" class="float-left mr-4" style="width: 250px; height: 170px;">

    <p>• Your $100 donation enables us to empower 4 California low-income youth with LifePrep Academy training to prepare them for college, careers and life after high school.</p>
    <div class="">
    <p>• Your $250 donation enables us to empower 10 low-income youth.
    <br>
    <p>• Your $500 donation enables us to empower 20 low-income youth .
    <br>
    <p>• Your $1,000 donation enables us to empower 40 low-income youth.
    </p>
    <hr>
</div>

<div class="container mb-4" style="width: 40%">
<form action="https://www.paypal.com/donate" method="post" target="_top">
<input type="hidden" name="hosted_button_id" value="9XS7RQX2QCAEU" />
<input type="image" src="https://educate-ca.s3-us-west-1.amazonaws.com/PayPal+Graphic1.jpg" style="width: 100%; height: auto;" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Give Today" />
</form>
</div>

{% endblock %}