{% extends 'base.html' %}
{% block content %}
  <div class="p-0 pic-edca m-0 w-100" style="height: 80%; no-repeat center; background-size: cover;"><img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg" class="img-fluid pic-edca" >
  </div>
<div class="container text-center mt-3 mb-3">
      <h2 class="display-4 container text-center">Give Today</h2>
</div>
<hr>

<div class="container mt-4 mb-5">
    <h4>THANK YOU FOR SUPPORTING OUR EFFORTS!</h4>
    <h6 class="mb-4">Educate California is a fiscally sponsored project of Community Partners - Tax ID# 95-4302067<br><small>Your donation is 100% tax-deductible and will be acknowledged.</small></h6> 
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Homepage/LifePrep-Site+Icon.jpg" class="float-left pr-2" style="width: 160px; height: 168px;" alt="LifePrep">

    <p><strong>YOUR</strong> $100 donation enables us to empower 4 California low-income youth with LifePrep Academy training to prepare them for college, careers and life after high school.</p>
    <div class="">
    <p><strong>YOUR</strong> $250 donation enables us to empower 10 low-income youth.
    <br>
    <p><strong>YOUR</strong> $500 donation enables us to empower 20 low-income youth.
    <br>
    <p><strong>YOUR</strong> $1,000 donation enables us to empower 40 low-income youth.
    </p>
    <hr>
    <p>Please make check donations payable to <strong>Community Partners for Educate California</strong> and mail it to PO Box 741265
    Los Angeles, CA 90074.</p>
</div>

<div class="container row mt-4" >

    <a href="https://www.paypal.com/donate?hosted_button_id=9XS7RQX2QCAEU&source=url"> <button class="btn btn-lg btn-warning mb-3 font-weight-bold" style="width: 265px;">GIVE TODAY ONLINE</button></a>
{% comment %} <div class="container row mb-5" >
     <img src="https://educate-ca.s3-us-west-1.amazonaws.com/CreditCards1.jpg" class="float-left" style="width: 265px; height: 32px;" alt="Credit Cards">
</div> {% endcomment %}
</div>
{% endblock %}