{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-3">
      <h2 class="display-4 container text-center"> Financials</h2>
</div>
<hr>

<div class="container mt-4 mb-4">
    <h4>AVOIDING FINANCIAL AID OR SCHOLARSHIP SCAMS</h4>
    <h6 class="text-danger">If you have to pay money to get money for financial aid, it is probably a scam!</h6> 
    <br>
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/ScholarshipScam.jpg" class="float-left mr-4" style="width: 250px; height: 150px;">
    <p>Every year students and parents  are cheated out of more than $100 million dollars.  According to the Federal Trade Commission,  common signs of a 
    scam which you should <span class="text-danger">watch out for</span> include:</p>
    <div class="">
    <p>• There is a scholarship application fee.
    <br>
    <p>• The scholarship is guaranteed or your money back.
    <br>
    <p>• They say "this information can't be found anywhere else".
    <br>
    <p>• The company asks for your credit card number, social security number, ATM pin, or bank account number to hold a scholarship for you.
    <br>
    <p>• The company advertises that "they will do all the work for you".
    <br>
    <h5 class="text-danger">Be a smart consumer! Never pay money to get money.</h5> 
    <br>
    <h4>SCHOLARSHIP ESSAYS</h4>
    </p>
</div>
<div>
    <p class="mb-4">Educate California is a fiscally sponsored project of Community Partners .

Community Partners works with social entrepreneurs, grant-makers, and civic leaders to imagine possibilities, design solutions, and see them through . Building on extensive experience working with nonprofits and funders, Community Partners helps foster, launch and sustain powerful initiatives for change .

    Community Partners 2018 Audited Financial Statement (Educate California - 0713, Pg . 37)
    Community Partners 2018 IRS 990 Form
    Community Partners 2019 Board Roster

</div>


{% endblock %}