{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:32vh;background:url('https://educate-ca.s3-us-west-1.amazonaws.com/EdCA-BackgroundPic2.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mb-4">
    <h2 class="display-4 container text-center">Funders Forum 2021</h2>
    <h4 class="text-center">Sponsored By:&nbsp &nbsp &nbsp
    <a href="https://escsc.org/" target="_blank"><img src="https://donor-adviser.s3-us-west-1.amazonaws.com/ESCSC_logo.jpg" style="width: 200px; height: 80px;"></a></h4>
</div>
<hr>

      <h4 class="container text-center mb-3">We Look Forward to Having You Join Us Virtually</h4> <h5 class="container text-center"><span class="text-danger">February 18, 2021 | 10:00am - 2:00pm</span></h5>
<div class="container mb-4">
    <a href="#registration"><button class="btn btn-lg mt-2 mb-1" href="/forum/smart-button-container#" style="background-color: #4B2682; color: white;">REGISTER NOW</button></a>
    <p class="mt-3">The mission of the <strong>Educate California Funders Forum</strong> is to provide our collaborative partners and other California non-profit organizations with access to grant-makers that focus on empowering communities and youth.
    
    Since 2003, we've introduced nearly 60 corporations and foundations to more than 5,000 non-profit directors that have attended our Funders Forums.
    
    <h6><strong>WHAT IS INCLUDED IN THE 2021 CONFERENCE COMPARED TO AN IN-PERSON YEAR?</strong></h6>

    <p>This year's Virtual Forum will include all the components of the in-person Forums that you've come to know and love and more, in a virtual environment. Here's a comparison of the virtual and in-person offerings:</p>
</div>

<div class="container mx-auto row mb-4">
  <div class="col-sm-8 border 1px text-center pt-1" style="height: 2em; background-color: #4B2682; color: white; font-size: 20px;">FUNDERS FORUM OFFERING</div>
  <div class="col-sm-2 border solid text-center pt-1" style="height: 2em; background-color: #4B2682; color: white; font-size: 20px;">VIRTUAL</div>
  <div class="col-sm-2 border 1px text-center pt-1" style="height: 2em;background-color: #4B2682; color: white; font-size: 20px;" >IN-PERSON</div>
  
  <div class="col-sm-8 border solid black 1px pt-1" style="height: 2em">Number of funders presented</div>
  <div class="col-sm-2 border solid black 1px text-center pt-1">8</div>
  <div class="col-sm-2 border solid black 1px text-center pt-1">8</div>
  
  <div class="col-sm-8 border solid black 1px pt-1" style="height: auto;">Access to recording of Forum</div>
  <div class="col-sm-2 border solid black 1px text-center"><svg height="2em" viewBox="0 0 16 16" class="bi bi-check2 font-weight-bold font-weight-bold" fill="green" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
</svg></div>
  <div class="col-sm-2 border solid black 1px text-center"></div>
  
  <div class="col-sm-8 border solid black 1px pt-1" style="height: auto;">Moderated Q & A with funders during Forum</div>
  <div class="col-sm-2 border solid black 1px text-center"><svg height="2em" viewBox="0 0 16 16" class="bi bi-check2 font-weight-bold" fill="green" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
</svg></div>
  <div class="col-sm-2 border solid black 1px text-center"><svg height="2em" viewBox="0 0 16 16" class="bi bi-check2 font-weight-bold" fill="green" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
</svg></div>

  <div class="col-sm-8 border solid black 1px pt-1 flex-wrap" style="height: auto;">Working lunch, with presentation</div>
  <div class="col-sm-2 border solid black 1px text-center"><svg height="2em" viewBox="0 0 16 16" class="bi bi-check2 font-weight-bold" fill="green" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
</svg></div>
  <div class="col-sm-2 border solid black 1px text-center"><svg height="2em" viewBox="0 0 16 16" class="bi bi-check2 font-weight-bold" fill="green" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
</svg></div>

  <div class="col-sm-8 border solid black 1px pt-1" style="height: auto;">Group chatting in breakout rooms during Forum and breaks</div>
  <div class="col-sm-2 border solid black 1px text-center"><svg height="2em" viewBox="0 0 16 16" class="bi bi-check2 font-weight-bold" fill="green" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
</svg></div>
  <div class="col-sm-2 border solid black 1px text-center"><svg height="2em" viewBox="0 0 16 16" class="bi bi-check2 font-weight-bold" fill="green" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
</svg></div>

  <div class="col-sm-8 border solid black 1px pt-1" style="height: auto;">1:1 chatting with attendees & exhibitors during Forum and breaks</div>
  <div class="col-sm-2 border solid black 1px text-center"><svg height="2em" viewBox="0 0 16 16" class="bi bi-check2 font-weight-bold" fill="green" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
</svg></div>
   <div class="col-sm-2 border solid black 1px text-center"><svg height="2em" viewBox="0 0 16 16" class="bi bi-check2 font-weight-bold" fill="green" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
</svg></div>
  
  <div class="col-sm-8 border solid black 1px pt-1" style="height: auto;">1:1 video meetings with exhibitors during breaks</div>
  <div class="col-sm-2 border solid black 1px text-center"><svg height="2em" viewBox="0 0 16 16" class="bi bi-check2 font-weight-bold" fill="green" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
</svg></div>
  <div class="col-sm-2 border solid black 1px text-center"></div>

  <div class="col-sm-8 border solid black 1px pt-1" style="height: auto;">Several employees can attend for the price of one (one location)</div>
  <div class="col-sm-2 border solid black 1px text-center"><svg height="2em" viewBox="0 0 16 16" class="bi bi-check2 font-weight-bold" fill="green" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
</svg></div>
  <div class="col-sm-2 border solid black 1px text-center"></div>
  
  <div class="col-sm-8 border solid black 1px pt-1" style="height: auto;">Individual & group rates available</div>
  <div class="col-sm-2 border solid black 1px text-center"><svg height="2em" viewBox="0 0 16 16" class="bi bi-check2 font-weight-bold" fill="green" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
</svg></div>
  <div class="col-sm-2 border solid black 1px text-center"><svg height="2em" viewBox="0 0 16 16" class="bi bi-check2 font-weight-bold" fill="green" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
</svg></div>
  
  <div class="col-sm-8 border solid black 1px pt-1" style="height: auto;">Nonprofits statewide can participate</div>
  <div class="col-sm-2 border solid black 1px text-center"><svg height="2em" viewBox="0 0 16 16" class="bi bi-check2 font-weight-bold" fill="green" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
</svg></div>
  <div class="col-sm-2 border solid black 1px text-center pt-1">Yes, but ...</div>
  
  <div class="col-sm-8 border solid black 1px pt-1" style="height: 2em;">Number of nights needed in a hotel (if not local)</div>
  <div class="col-sm-2 border solid black 1px pt-1 text-center">Save ≈ $100</div>
  <div class="col-sm-2 border solid black 1px pt-1 text-center">1</div>
 
  <div class="col-sm-8 border solid black 1px pt-1" style="height: 2em;">Number of flights needed to attend (if not local)</div>
  <div class="col-sm-2 border solid black 1px pt-1 text-center">Save ≈ $200</div>
  <div class="col-sm-2 border solid black 1px pt-1 text-center">2 </div>
  
  <div class="col-sm-8 border solid black 1px pt-1 flex-wrap" style="height: auto;">Avoid travel time, mileage tracking, parking costs and registration lines</div>
  <div class="col-sm-2 border solid black 1px text-center"><svg height="2em" viewBox="0 0 16 16" class="bi bi-check2 font-weight-bold" fill="green" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
</svg></div>
  <div class="col-sm-2 border solid black 1px text-center"></div>
  
  <div class="col-sm-8 border solid black 1px pt-1 flex-wrap" style="height: auto;">COVID-19 Compliant</div>
  <div class="col-sm-2 border solid black 1px text-center"><svg height="2em" viewBox="0 0 16 16" class="bi bi-check2 font-weight-bold" fill="green" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
</svg></div>
  <div class="col-sm-2 border solid black 1px text-center"></div>

  <div class="col-sm-8 border solid black 1px pt-1 flex-wrap" style="height: auto;">Grooming and pets are optional</div>
  <div class="col-sm-2 border solid black 1px text-center"><svg height="2em" viewBox="0 0 16 16" class="bi bi-check2 font-weight-bold" fill="green" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
</svg></div>
  <div class="col-sm-2 border solid black 1px text-center"></div>

  <div class="col-sm-8 border solid black 1px pt-1 flex-wrap" style="height: auto;">Wear a professional top and sweats on the bottom <strong><em>and not be judged</em></strong>&nbsp&nbsp<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-emoji-smile" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path fill-rule="evenodd" d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683z"/>
  <path d="M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
</svg></div>
  <div class="col-sm-2 border solid black 1px text-center" ><svg height="2em" viewBox="0 0 16 16" class="bi bi-check2 font-weight-bold" fill="green" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
</svg></div>
  <div class="col-sm-2 border solid black 1px text-center"></div>
</div>

<div class="container border solid blue 1px text-center pt-1 mb-3" style="height: 2em; background-color: #4B2682; color: white; font-size: 20px;">PREVIOUS FUNDERS</div>


    <div class="container col-10 row mx-auto justify-content-center font-weight-bold mb-4">
    <div class="row">
        <div class="col-sm">
            The Ahmanson Foundation
            <br>AT&T
            <br>Bank of America
            <br>Bank of the West
            <br>The Bannerman Foundation
            <br>Best Buy
            <br>Boeing
            <br>Boston Private Bank & Trust
            <br>BP
            <br>Braitmeyer Foundation
            <br>California Community Foundation
            <br>Capital Group Companies
            <br>Carol and James Collins Foundation
            <br>Chevron
            <br>Citibank
            <br>Comerica Bank
            <br>Crail-Johnson Foundation
            <br>Deloitte
            <br>Dwight Stuart Youth Fund
            <br>Southern California Edison
        </div>
        <div class="col-sm">
            Eisner Foundation
            <br>Entertainment Industry Foundation
            <br>First 5 LA
            <br>Bill & Melinda Gates Foundation
            <br>Hilton Hotels
            <br>IBM
            <br>LA Times Family Fund
            <br>Long Beach Community Foundation
            <br>Los Angeles Social Venture Partners
            <br>Liberty Hill Foundation
            <br>Magic Johnson Foundation
            <br>Mattel
            <br>Max Factor Family Foundation
            <br>Nissan
            <br>Kenneth T. & Eileen L. Norris Foundation
            <br>Northrop Grumman
            <br>David & Lucile Packard Foundation
            <br>Ralph M . Parsons Foundation
            <br>Riordan Foundation
        </div>
        <div class="col-sm">
            Samueli Foundation
            <br>Sempra Energy
            <br>S. Mark Taper Foundation
            <br>Staples Center Foundation
            <br>State Farm
            <br>Stuart Foundation
            <br>Time Warner Cable
            <br>Toyota
            <br>UniHealth Foundation
            <br>Union Bank
            <br>United Way of Greater Los Angeles
            <br>UPS
            <br>US Bank
            <br>Ventura County Community Foundation
            <br>Verizon
            <br>Washington Mutual Bank
            <br>Weingart Foundation
            <br>Wells Fargo Bank
        </div>
    </div>
    </div>
</div>

<div class="container">
    <div class="border solid blue 1px text-center pt-1 mb-3" style="height: 2em; background-color: #4B2682; color: white; font-size: 20px;">2021 INVITED FUNDERS</div>
    <p class="ml-3 text-center">For the <strong>February 18, 2021</strong> Virtual Funders Forum we've invited the following corporations and foundations.</p>
</div>

 <div class="row container pl-4 mx-auto">

  <div class="col-md-3">
    <div class="thumbnail">
          <img src="https://educate-ca.s3-us-west-1.amazonaws.com/EdCAFF-UPS2.jpg" class="mb-3" alt="Middle School" style="width:90%; border-radius: 10px;">
        <div class="caption">

        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
              <img src="https://educate-ca.s3-us-west-1.amazonaws.com/EdCAFF-Ahmanson1.jpg" class="mb-3" alt="" style="width:90%; border-radius: 10px;">
        <div class="caption">

        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
             <img src="https://educate-ca.s3-us-west-1.amazonaws.com/EdCAFF-Weingart.jpg" class="mb-3" alt="" style="width:90%; border-radius: 10px;">
        <div class="caption">

        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
              <img src="https://educate-ca.s3-us-west-1.amazonaws.com/EdCAFF-BofA.jpg" class="mb-3" alt="Healthy Living" style="width:90%; border-radius: 10px;">
        <div class="caption">

        </div>
      </a>
    </div>
  </div>
</div>
 
<div class="row container mb-3 mx-auto">
  <div class="col-md-3">
    <div class="thumbnail">
      
        <img src="https://educate-ca.s3-us-west-1.amazonaws.com/EdCAFF-DSYF.jpg" class="mb-3" alt="" style="width:90%; border-radius: 10px;">
        <div class="caption">

        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
              <img src="https://educate-ca.s3-us-west-1.amazonaws.com/EdCAFF-USBank.jpg" class="mb-3" alt="" style="width:90%; border-radius: 10px;">
        <div class="caption">

        </div>
      </a>
    </div>
  </div>

  <div class="col-md-3">
    <div class="thumbnail">
             <img src="https://educate-ca.s3-us-west-1.amazonaws.com/EdCAFF-CapGroup.jpg" class="mb-3" alt="" style="width:90%; border-radius: 10px;">
        <div class="caption">

        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3" id="registration">
    <div class="thumbnail">
          <img src="https://educate-ca.s3-us-west-1.amazonaws.com/EdCAFF-CCF.jpg" class="mb-3" alt="" style="width:90%; border-radius: 10px;">
        <div class="caption">

        </div>
      </a>
    </div>
  </div>
</div>

<div class="container" id="smart-button-container">
    <div class="col-sm-6 border 1px text-center pt-1 mb-3" style="height: 2em; background-color: #4B2682; color: white; font-size: 20px;">REGISTRATION OPTIONS</div>

    <h6 class="ml-3" style="text-align: left;"><strong>EARLY REGISTRATION: $55</strong>
    (<span class="text-danger">on or before 1/18/21</span>)
    <h6 class="ml-3" style="text-align: left;"><strong>STANDARD REGISTRATION: $75</strong>
    <h6 class="ml-3" style="text-align: left;"><strong>EXHIBITOR REGISTRATION: $100</strong>
    <h6 class="ml-3" style="text-align: left;"><strong>GROUP REGISTRATION: $440</strong>
    <br><small><span class="text-danger">Group rate for 8 attendees at $55 each effective through 2/17/21)</span></small>
    </h6>
    <hr>
    <h4 class="ml-3 mt-3 mb-2">PAYMENTS:</h4>

    <div class="container mb-3">
    <a href="https://www.eventbrite.com/e/educate-california-funders-forum-tickets-132847814389" target="_blank"> <button class="btn btn-warning col-3 mt-2 mb-2 font-weight-bold">REGISTER ONLINE HERE</button></a>

    <!-- Button trigger modal -->
    <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" style="background-color: #4B2682; color: white;">
    Pay with Purchase Order or check
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Pay with Purchase Order or check</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Please email your purchase order to <a href="mailto:eric@educate-ca.org" class="font-weight-bold">Eric Moore</a> or mail your check to PO Box 83384, Los Angeles CA 90083, to <strong>ARRIVE NO LATER THAN TUESDAY 2/16/21</strong>.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>

</div>
    <div class="container mb-5">
    <h6><strong>CANCELLATION & REFUND POLICY</strong></h6>
    <p>Funders Forum registration cancellations must be received in writing to <a href="mailto:eric@educate-ca.org" class="font-weight-bold">Eric Moore</a> or via fax at 310.218.0484. Cancellations received by February 16, 2021 will receive a full refund. Cancellations received February 17, 2021 and after are not available for a refund. QUESTIONS? Please <a href="{% url 'contact' %}" class="font-weight-bold">Contact Us</a>.</p>
    </div>
</div>

{% endblock %}