{% extends 'base.html' %}
{% block content %}

<div class="p-0 pic-edca m-0 w-100" style="no-repeat center; background-size: cover;">
<img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/EdCA-BackgroundPic9.jpg" class="img-fluid pic-edca" >
</div>

<!-- Heading -->

<div class="container text-center mt-3 mb-4">
  <h2 class="display-4">Bridging the Gaps</h2>
</div>
  <hr>
<div class="container text-center mt-4 mb-4">
  
  <p class="lead text-left">Educate California's mission is to provide scalable solutions that connect youth, and those who serve youth, with resources to help prepare our future workforce. We offer workshops, forums, and other special events both online and in person. Our signature program is the LifePrep Academy. 
  
  <p class="lead text-left">The <strong>LifePrep Academy: College, Career and Life Planning</strong> curriculum connects families with trusted education resources, while teaching <span class="text-warning">students and their parents</span> the knowledge, attitudes and skills needed to enable clear, high quality communication and collaboration with school counselors. Our resources and workshops are vital to the community because they address California’s <strong>more than 600:1</strong> student-to-counselor ratio. 
  
  <p class="lead text-left">Since 1998, we have helped thousands of students graduate from high school college and career ready.</p>  

</div>

<div class="jumbotron jumbotron-fluid row mx-auto justify-content-center">

<div class="row container ml-0 mr-0 mx-auto">
    <h4>COLLABORATIVE PARTNERS</h4>
    <p class="lead text-left">Educate California has partnered with dozens of organizations since our founding. Below are our current collaborative partners.</p>
<br><br>
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="https://californiapal.org/" target="_blank">
        <img src="https://educate-ca.s3-us-west-1.amazonaws.com/EdCA+Featured-CalPAL1.jpg" class="" alt="CalPAL" style="width:90%; border-radius: 10px;">
        <div class="caption">
          <br>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="https://www.newwaystowork.org/" target="_blank">
        <img src="https://educate-ca.s3-us-west-1.amazonaws.com/EdCA+Featured-NWTW.jpg" class="" alt="New Ways to Work" style="width:90%; border-radius: 10px;">
        <div class="caption">
          <br>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="https://exploringyourpotential.com/" target="_blank">
        <img src="https://educate-ca.s3-us-west-1.amazonaws.com/EdCA+Featured-EYP.jpg" class="" alt="Exploring Your Potential" style="width:90%; border-radius: 10px;">
        <div class="caption">
          <br>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="https://www.escsc.org" target="_blank">
        <img src="https://educate-ca.s3-us-west-1.amazonaws.com/EdCA+Featured-ESC2.jpg" class="" alt="ESC" style="width:90%; border-radius: 10px;">
        <div class="caption">
          <br>
        </div>
      </a>
    </div>
  </div>
</div>
</div>

<div class="row container ml-0 mr-0 mx-auto">
    <h4>FUNDING PARTNERS</h4>
    <p class="lead text-left">We appreciate the generous support of our <strong><a href="{% url 'partners' %}">corporate, foundation and governmental partners</a></strong>, whose investments make our work possible. The following funders have supported our mission to empower youth.</p>
</div>

<div class="container mb-5">
  <div class="row mx-auto justify-content-center">
    <div class="col-md-4">
    <div id="carouselExampleFade" class="container carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="4000" >
      <img src="https://educate-ca.s3-us-west-1.amazonaws.com/EdCAFF-Ahmanson1.jpg" class="d-block w-100" style="" alt="...">
    </div>
    <div class="carousel-item" data-interval="4000" >
      <img src="https://educate-ca.s3-us-west-1.amazonaws.com/EdCAFF-USBank.jpg" class="d-block w-100" style="" alt="...">
    </div>
    <div class="carousel-item" data-interval="4000" >
      <img src="https://educate-ca.s3-us-west-1.amazonaws.com/EdCAFF-City+LA1.jpg" class="d-block w-100" style="" alt="...">
    </div>
  </div>
</div>
    </div>
    <div class="col-md-4">
<div id="carouselExampleFade" class="container carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="4000" >
      <img src="https://educate-ca.s3-us-west-1.amazonaws.com/EdCAFF-UPS2.jpg" class="d-block w-100" style="" alt="...">
    </div>
    <div class="carousel-item" data-interval="4000" >
      <img src="https://educate-ca.s3-us-west-1.amazonaws.com/EdCAFF-CCF.jpg" class="d-block w-100" style="" alt="...">
    </div>
    <div class="carousel-item" data-interval="4000" >
      <img src="https://educate-ca.s3-us-west-1.amazonaws.com/EdCAFF-CSUjpg.jpg" class="d-block w-100" style="" alt="...">
    </div>
  </div>
</div>
    </div>
    <div class="col-md-4">
<div id="carouselExampleFade" class="container carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="4000" >
      <img src="https://educate-ca.s3-us-west-1.amazonaws.com/EdCAFF-StateFarm1.jpg" class="d-block w-100" style="" alt="...">
    </div>
    <div class="carousel-item" data-interval="4000" >
      <img src="https://educate-ca.s3-us-west-1.amazonaws.com/EdCAFF-WFB1.jpg" class="d-block w-100" style="" alt="...">
    </div>
    <div class="carousel-item" data-interval="4000" >
      <img src="https://educate-ca.s3-us-west-1.amazonaws.com/EdCAFF-CCPF1.jpg" class="d-block w-100" style="" alt="...">
    </div>
  </div>
</div>
    </div>
</div>

</div>
</div>

{% endblock %}