<!-- Begin Constant Contact Active Forms -->
<script> var _ctct_m = "1eebb21d187f15f507414b2862d26150"; </script>
<script id="signupScript" src="//static.ctctcdn.com/js/signup-form-widget/current/signup-form-widget.min.js" async defer></script>
<!-- End Constant Contact Active Forms -->

{% extends 'base.html' %}
{% block content %}

<div class="container-fluid p-0 m-0" style=" width: cover;">
  <div id="carouselHomePage" class="carousel slide" data-interval="8000" data-ride="carousel">
      <!-- Indicators -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container-fluid p-0 m-0" style="height:32vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: cover">    
      </div>
      </div>
      <div class="carousel-item">
        <div class="container-fluid p-0 m-0" style="height:32vh;background:url('https://educate-ca.s3-us-west-1.amazonaws.com/EdCA-BackgroundPic2.jpg') no-repeat center; background-size: cover">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Heading -->

<div class="container text-center mt-3 mb-3">
  <h2 class="display-4">Bridging the Gaps</h2>
</div>
  <hr>
<div class="container text-center mt-3 mb-4">
  
  <p class="lead text-left">Educate California's mission is to provide effective, scalable solutions that connect parents with schools, and nonprofit organizations with grant-makers.
  
  <p class="lead text-left">Through our <a href="{% url 'lifeprep' %}">LifePrep Academy</a> College and Career Planning curriculum, we teach students and their families the college knowledge, attitudes and skills students need to graduate from high school college and career-ready. LifePrep Academy engages parents and enables clear, high quality communication and collaboration with school counselors.

  <p class="lead text-left">Since 2003, we've provided nonprofits with access to grant-makers that focus on communities and youth, by introducing nearly 60 corporations and foundations to more than 5,000 nonprofit directors that have attended our <a href="{% url 'forum' %}">Funders Forums</a>.
  
  Numerous nonprofits have reported receiving funding and establishing long-term relationships with funders as a result of attending one of our Forums.</p>
{% comment %} <hr> {% endcomment %}
</div>

<div class="row container ml-0 pl-5 mr-0 mb-3 mx-auto" style="background: gray;">
    <h4 class="mt-3" style="color: white;">FEATURED PARTNERS</h4>
    <p class="mb-5" style="color: white;">Educate California has partnered with dozens of organizations since our founding in 1998. Below are our current collaborative partners.</p>
<br>
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="https://californiapal.org/" target="_blank">
        <img src="https://educate-ca.s3-us-west-1.amazonaws.com/EdCA+Featured-CalPAL1.jpg" class="" alt="CalPAL" style="width:80%; border-radius: 10px;">
        <div class="caption">
          <br>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="https://beamentor.org/" target="_blank">
        <img src="https://educate-ca.s3-us-west-1.amazonaws.com/EdCA+Featured-BAM1.jpg" class="" alt="Be a Mentor" style="width:80%; border-radius: 10px;">
        <div class="caption">
          <br>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="https://exploringyourpotential.com/" target="_blank">
        <img src="https://educate-ca.s3-us-west-1.amazonaws.com/EdCA+Featured-EYP.jpg" class="" alt="Exploring Your Potential" style="width:80%; border-radius: 10px;">
        <div class="caption">
          <br>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="https://www.escsc.org" target="_blank">
        <img src="https://educate-ca.s3-us-west-1.amazonaws.com/EdCA+Featured-ESC2.jpg" class="" alt="ESC" style="width:80%; border-radius: 10px;">
        <div class="caption">
          <br>
        </div>
      </a>
    </div>
  </div>
</div>
</div>
</div>

<div class="container row mx-auto align-self-center" style="width:75%;">
<!-- Begin Constant Contact Inline Form Code -->
<div class="ctct-inline-form" data-form-id="bccb0318-8a77-4e06-90ad-0f24b652050b"></div>
<!-- End Constant Contact Inline Form Code -->
  
</div>


{% endblock %}