{% extends 'base.html' %}
{% block content %}
  <div class="p-0 pic-edca m-0 w-100" style="height: 80%; no-repeat center; background-size: cover;"><img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/EdCA-BackgroundPic9.jpg" class="img-fluid pic-edca" >
  </div>
<div class="container text-center mt-3 mb-3">
      <h2 class="display-4 container text-center">LifePrep Academy</h2>
</div>
<hr>

<div class="container">
    <h4 class="mb-4">ENGAGING PARENTS, EMPOWERING YOUTH</h4>
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Homepage/LifePrep-Site+Icon.jpg" class="float-left pr-2 " style="width: 160px; height: 168px;" alt="LifePrep">

    <p>Since 1998, our resources and workshops have been vital to the community because they address California’s current 600+:1 student-to-counselor ratio. Our focus on “workforce development through family engagement” guides our efforts to empower parents with the knowledge to serve as “in-home" counselors for their children.

    <p>The LifePrep Academy program supports family engagement and our future workforce by preparing middle and high school students for life after high school. We provide students and families with essential tools and resources using our LifePrep Academy: College, Career and Life Planning curriculum and workshops/webinars.  

    <p>Empowering parents and families to be partners with their children’s guidance counselors by providing them with college knowledge is essential to ensuring California meets its demand for skilled workers.

    <p>Through our LifePrep Academy program, we teach students and their parents the college knowledge, attitudes and skills they need to graduate from high school college-ready. LifePrep Academy workshop participants learn academic planning strategies, college and career options, how to access internet-based resources, and the various types of financial aid available to them. Each workshop participant receives a membership to the LifePrep Academy: College, Career and Life Planning online curriculum as a resource to keep and use during the training.</p>

    <h4 class="mt-4">Professional Development Workshops</h4>

    <p>In addition to parent engagement, we also host LifePrep Academy professional development sessions.  Our professional development workshops are designed for counselors and college-career staff who regularly implement guidance programs in California schools, districts, and other agencies serving youth.

    <p>Participating counselors learn how to use the curriculum as an instrument to facilitate communication and collaboration with parents.  LifePrep Academy workshops push and challenge counselors to rethink their parent and student engagement practices and redefine it with new possibilities offered by our tools and resources.

    <h5>Visit <a href="https://www.lifeprepacademy.org/" class="font-weight-bold" target="_blank">LifePrepAcademy.org</a> to learn more.</h5>
</div>

{% endblock %}