{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">LifePrep Academy</h2>
</div>
<hr>

<div class="container mb-5">
    <h4 class="mb-4">ENGAGING PARENTS, EMPOWERING YOUTH</h4>
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Homepage/LifePrep-Site+Icon.jpg" class="float-left pr-2 mb3" style="width: 160px; height: 168px;" alt="LifePrep">

    <p class="mb-4">Since 1998, our resources and workshops have been vital to the community because they address California’s current 600+:1 student-to-counselor ratio. Our focus on “workforce development through family engagement” guides our efforts to empower parents with the knowledge to serve as “in-home" counselors for their children.

    <p>The LifePrep Academy program supports family engagement and our future workforce by preparing middle and high school students for life after high school. We provide students and families with essential tools and resources using our LifePrep Academy: College, Career and Life Planning curriculum and workshops/webinars.  

    <p>Empowering parents and families to be partners with their children’s guidance counselors by providing them with college knowledge is essential to ensuring California meets its demand for skilled workers.

    <p>Through our LifePrep Academy program, we teach students and their parents the college knowledge, attitudes and skills they need to graduate from high school college-ready. LifePrep Academy workshop participants learn academic planning strategies, college and career options, how to access internet-based resources, and the various types of financial aid available to them. Each workshop participant receives a membership to the LifePrep Academy: College, Career and Life Planning online curriculum as a resource to keep and use during the training. 

    <p>Our workshops focus on parents of youth entering high school, encouraging active participation in the education of their children. Throughout the session, participants are asked to think critically about what college and career readiness is and why it matters. In addition, they are introduced to educational and financial resources to help them understand what to look for and how to help their children at home. 

    <h4>Professional Development Workshops</h4>

    <p>In addition to parent engagement, we also host LifePrep Academy professional development sessions.  Our professional development workshops are designed for counselors and college-career staff who regularly implement guidance programs in California schools, districts, and other agencies serving youth.

    <p>Participating counselors learn how to use the curriculum as an instrument to facilitate communication and collaboration with parents.  LifePrep Academy workshops push and challenge counselors to rethink their parent and student engagement practices and redefine it with new possibilities offered by our tools and resources.

    <h5>Visit <a href="https://www.lifeprepacademy.org/" class="font-weight-bold" target="_blank">LifePrepAcademy.org</a> to learn more.</h5>
</div>

{% endblock %}