{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">LifePrep Academy</h2>
</div>
<hr>

<div class="container mb-4">
    <h4>AVOIDING FINANCIAL AID OR SCHOLARSHIP SCAMS</h4>
    <h6 class="text-danger">If you have to pay money to get money for financial aid, it is probably a scam!</h6> 
    <br>
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/ScholarshipScam.jpg" class="float-left mr-4" style="width: 250px; height: 150px;">

    <p class="mb-4">#On behalf of our distinguished board, our partners and supporters, it is my pleasure to welcome you to Educate California and our LifePrep Academy program .

    Our mission is to empower California parents and families to prepare their children for college, careers and life after high school .

Since 1998, we have partnered with schools and non-profit organizations to increase parent and family engagement, by providing resources and services historically provided by counselors . Our resources and workshops are vital due to California's current average student-to-counselor ratio of more than 600 students per counselor.

Educate California also provides customized workshops, training and resources to empower schools and non-profit organizations that serve low-income youth and families .
    </p>
</div>

{% endblock %}