<!-- Begin Constant Contact Active Forms -->
<script> var _ctct_m = "1eebb21d187f15f507414b2862d26150"; </script>
<script id="signupScript" src="//static.ctctcdn.com/js/signup-form-widget/current/signup-form-widget.min.js" async defer></script>
<!-- End Constant Contact Active Forms -->

{% extends 'base.html' %}
{% block content %}

<div class="p-0 pic-edca m-0 w-100" style="no-repeat center; background-size: cover;">
<img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg" class="img-fluid pic-edca" >
</div>

<div class="container text-center mt-4 mb-4">
      <h2 class="display-4 container text-center">Subscribe to our Newsletter</h2>
</div>
<hr>

<a href="https://lp.constantcontactpages.com/su/ZIQLVK5/educate"><div class="container col-md-4 offset-md-3 row mx-auto justify-content-center">
    <img src="https://educate-ca.s3-us-west-1.amazonaws.com/Newsletter.jpg" class="mt-3" style="width: 260px; height: 180px;">
</div></a>

<div class="container row mx-auto align-self-center mt-3">
    <div class="row mx-auto align-self-center">

    <p class="">Complete the Form or<a href="https://lp.constantcontactpages.com/su/ZIQLVK5/educate"> Click Here</a> to Join our Newsletter</p>
</div>


<!-- Begin Constant Contact Inline Form Code -->
<div class="ctct-inline-form" data-form-id="bccb0318-8a77-4e06-90ad-0f24b652050b"></div>
<!-- End Constant Contact Inline Form Code -->
</div>

{% endblock %}