{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: cover">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Our Partners</h2>
</div>
<hr>

<div class="container text-center mb-5">
    <h4>CORPORATE & FOUNDATION PARTNERS</h4>
    <img src="https://educate-ca.s3-us-west-1.amazonaws.com/ThankYouDonors1.jpg" style="width: 90%;" class="mb-3 mt-2">
    <p class="mb-2">We appreciate the support of our corporate and foundation partners, whose generous donations make our work possible. <br><br>Since 1998, the following funders have supported our mission and growth.</p>

­   <h5 class="text-center mb-3">$100,000 - $250,000 TOTAL GIVING</h5>
    <p class="text-center mb-2">Ahmanson Foundation
    <p class="text-center mb-4">WellsFargo</p>

    <h5 class="text-center mb-3">$25,000 - $99,999 TOTAL GIVING</h5>
    <p class="text-center mb-2">California Consumer Protection Foundation
    <p class="text-center mb-2">Max Factor Family Foundation
    <p class="text-center mb-2">State Farm
    <p class="text-center mb-2">UPS
    <p class="text-center mb-4">Verizon</p>

    <h5 class="text-center mb-3">$5,000 - $24,999 TOTAL GIVING</h5>
    <p class="text-center mb-2">AT&T
    <p class="text-center mb-2">Boeing
    <p class="text-center mb-2">Boston Private Bank & Trust
    <p class="text-center mb-2">California State University
    <p class="text-center mb-2">Los Angeles Department of Children & Family Services
    <p class="text-center mb-2">Los Angeles Unified School District
    <p class="text-center mb-2">Sempra Energy
    <p class="text-center mb-2">Southern California Edison
    <p class="text-center mb-2">Union Bank
    <p class="text-center mb-4">U S Bank</p>

    <h5 class="text-center mb-3">$1,000 - $4,999 TOTAL GIVING</h5>
    <p class="text-center mb-2">California Community Foundation
    <p class="text-center mb-2">Xerox</p>
</div>

{% endblock %}