{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Our 
      <span class="text-warning">Partners</span></h2>
</div>
<hr>

<div class="container mb-4">
    <h4>SCHOLARSHIP ESSAYS</h4>

    <p class="mb-4">We appreciate the support of our corporate, foundation and individual partners, whose generous donations make our work possible . Since 1998, the following individuals and businesses have supported our mission and growth.

­

$100,000 - $250,000 Total Giving

Ahmanson Foundation

WellsFargo

 

$25,000 - $99,999 Total Giving

California Consumer Protection Foundation

Max Factor Family Foundation

State Farm

UPS

Verizon

♦

$5,000 - $24,999 Total Giving

AT&T

Boeing

Boston Private Bank & Trust

California State University

Los Angeles Department of Children & Family Services

Los Angeles Unified School District

Sempra Energy

Southern California Edison

Union Bank

U S Bank

♦

$1,000 - $4,999 Total Giving

California Community Foundation

Xeroxclass="font-weight-bold">scholarship winning tips</a> anyone can use to win big.
    </p>
</div>
<hr>
    <h4 class="text-center mt-4">SCHOLARSHIPS</h4>
<div class="row container mt-4 mb-0 pl-4 mx-auto">

  <div class="col-md-3">
    <div class="thumbnail">
      <a href="">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/Scholarships/general-student-square.jpg" alt="Middle School" style="width:90%; border-radius: 10px;">
        <div class="caption">
        <br>
          <p class="">Search Engines</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/Scholarships/foster-youth-scholarships.jpg" alt="Prepared" style="width:90%; border-radius: 10px;">
        <div class="caption">
        <br>
          <p class="">General Scholarships</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/Scholarships/african-american-female-cap-and-gown1-square.jpg" alt="Journey" style="width:90%; border-radius: 10px;">
        <div class="caption">
        <br>
          <p class="">Foster Youth Scholarships</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/Scholarships/immigrant-scholarships1.jpg" alt="Healthy Living" style="width:90%; border-radius: 10px;">
        <div class="caption">
        <br>
          <p class="">Immigrant Scholarships</p>
        </div>
      </a>
    </div>
  </div>
</div>
<br>
 <div class="row container mt-3 mb-4 pl-4 mx-auto">

  <div class="col-md-3">
    <div class="thumbnail">
      <a href="">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/Scholarships/african-american-scholarships.png" alt="Homework Help" style="width:90%; border-radius: 10px;">
        <div class="caption">
        <br>
          <p class="">African American Scholarships</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/Scholarships/asian-american-scholarships.jpg" alt="Scholarships" style="width:90%; border-radius: 10px;">
        <div class="caption">
        <br>
          <p class="">Asian American Scholarships</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/Scholarships/hispanic-american-scholarships.jpg" alt="Notes" style="width:90%; border-radius: 10px;">
        <div class="caption">
        <br>
          <p class="">Hispanic American Scholarships</p>
        </div>
      </a>
    </div>
  </div>

  <div class="col-md-3">
    <div class="thumbnail">
      <a href="">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/Scholarships/native-american-scholarships.jpg" alt="Favorites" style="width:90%; border-radius: 10px;">
        <div class="caption">
            <br>
            <p class="">Native American Scholarships</p>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="row container mt-3 mb-3 pl-4 mx-auto">
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/Scholarships/LGBTQ-scholarships.jpg" alt="Homework Help" style="width:90%; border-radius: 10px;">
        <div class="caption">
        <br>
          <p class="">LGBTQ+ Scholarships</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/Scholarships/womens-scholarships.jpg" alt="Scholarships" style="width:90%; border-radius: 10px;">
        <div class="caption">
        <br>
          <p class="">Women's Scholarships</p>
        </div>
      </a>
    </div>
  </div>
</div>
</div>

{% endblock %}