{% extends 'base.html' %}
{% block content %}
  <div class="p-0 pic-edca m-0 w-100" style="height: 80%; no-repeat center; background-size: cover;"><img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg" class="img-fluid pic-edca" >
  </div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Board Member</h2>
</div>
<hr>

<div class="container mb-5">
        <img src="https://educate-ca.s3-us-west-1.amazonaws.com/BOA-DF.jpg" class="mb-3 mr-3 float-left" alt="David Factor" style="width:190px; height: 190px; border-radius: 10px;">
   <h4 class="">DAVID FACTOR</h4>
   <h6 class="mb-3">President and CEO, Executive Service Corps of Southern California</h6>
   <p>David Factor has served as President and CEO of Executive Service Corps of    Southern California (ESC) since August 2013. In this role, he is responsible for steering the overall vision and strategy for ESC, which includes establishing new initiatives in the greater nonprofit community, strengthening board and contributor relations, and providing strategic support to program staff and leadership. Prior to being appointed President of ESC, David served as Vice President, Consulting Services beginning in 2011. 
   
   <p>David has more than 30 years of experience serving charitable ventures, entrepreneurial and mature businesses, and the public sector. He is deeply committed to community service as both a professional and volunteer. David has consulted with social service and health care organizations, foundations, public-private task forces, religious institutions and organizational leaders. Past projects have encompassed operations; human resources and finances; board, staff and volunteer management; executive coaching; peer-to-peer exchanges; organizational restructuring; charitable mergers; national conferences; and fund development. David also served in professional roles for the Jewish Home for the Aging, the Southern California Association of Governments and elected officials in Sacramento and Los Angeles. 
   
   <p>David is Vice Chair of the Board of the Directors of ESC-US, the national governing Board of the 12-member ESC affiliate network. He is also a member of the Advisory Committee for Valley Nonprofit Resources, an organization founded to support and assist capacity building for nonprofits located in the San Fernando Valley, housed at California State University Northridge. Additionally, he serves on the Advisory Board of Educate California, whose mission is to provide effective, scalable solutions that connect people with resources and opportunities to accomplish their goals. 
   
   <p>He currently serves as a Trustee of the Max Factor Family Foundation, and as a member of the Board and Endowment Committee for Adat Shalom congregation, where he is a past President. He previously served as a Director of Youth Alive, a statewide violence prevention and youth leadership organization. 
   </p>
</div>

{% endblock %}