{% extends 'base.html' %}
{% block content %}
  <div class="p-0 pic-edca m-0 w-100" style="height: 80%; no-repeat center; background-size: cover;"><img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg" class="img-fluid pic-edca" >
  </div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Board Member</h2>
</div>
<hr>

<div class="container mb-5">
        <img src="https://educate-ca.s3-us-west-1.amazonaws.com/BOA-ELM.jpg" class="mb-3 mr-4 float-left" alt="Eric Moore" style="width:190px; height: 190px; border-radius: 10px;">
   <h4 class="">ERIC L. MOORE</h4>
   <h6 class="mb-3">Founder and CEO, Educate California</h6>
   <p>As founder of Educate California, Eric Moore has developed a non-profit organization whose mission is to provide effective, scalable solutions that connect people with resources and opportunities to accomplish their goals.  Educate California offers workshops, forums, and other special events both online and in person. Our key programs include the LifePrep Academy and the Funders Forum.
   
   <p>Moore’s professional experience includes 12 years as a financial advisor with Wells Fargo Securities and American Express Financial Advisors. In 1998, Moore founded Educate California and officially transitioned from advising families on financial issues to helping families prepare their children for college and career opportunities. 
   
   <p>As a volunteer, Moore serves as Chairman Emeritus of the Board of Trustees for the Phillips Graduate University. Moore is a Board Member for Executive Service Corps of Southern California, who mission is to provide high quality, affordable coaching and consulting services for nonprofits throughout Southern California. Moore also serves as a Special Consultant to the California State University Chancellor's Office. 
   
   <p>A native of Los Angeles, Moore studied Psychology at California State University, Long Beach. His personal interests include non-profit development, do-it-yourself projects and his 4 dogs. Moore and his wife reside in Los Angeles, California. They have two adult sons. 
   </p>
</div>

{% endblock %}