{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:35vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: cover">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Board Member</h2>
</div>
<hr>

<div class="container mb-4">
      <img src="https://educate-ca.s3-us-west-1.amazonaws.com/BOA-IJ.jpg" class="mb-3 mr-3 float-left" alt="David Factor" style="width:190px; height: 190px; border-radius: 10px;">
      <h4 class="">IRWIN JAEGAR</h4>
   <h6 class="mb-3">CEO, New Phoenix Management Company</h6>
   <p>Irwin J. Jaeger has been in the field of business management for four decades.  He has helped a wide variety of businesses understand changes that impact their markets, and has provided solutions to numerous problems.  A case study published and used by the Harvard Graduate School of Business as an example of solutions employed by a company to overcome problems in marketing and finance was designed based on Mr. Jaeger’s consulting work with a major retail client. 
   
   <p>Complementing his business management endeavors, Mr. Jaeger’s real estate development companies have acquired and developed commercial and industrial properties well over $250 million as CEO of New Phoenix Management Company.  Through innovative marketing techniques and effective management each of these properties enjoys substantial operating returns, as well large increases in market values. 
   
   <p>Mr. Jaeger received his Bachelor of Arts Degree in Business Administration from the University of Cincinnati where he was awarded several honors for academic and leadership achievement and honors from The Beta Gamma Sigma Honorary Society.  He received his Masters Degree in Business Administration from New York University, graduating first in his class.
   
   <p>Mr. Jaeger is also an active patron of the arts and has offered his services to a number of charitable organizations since the 1960’s.  He has served as a Trustee for New Visions Foundation, Chairman of the Southern California Counseling Center and the Far Eastern Art Council of the Los Angeles County Museum, as well as president of Big Brothers and currently sits on the board of directors of Community Partners and Executive Service Corps.  
   
   <p>Mr. Jaeger’s love of the arts and his desire to unite California’s different cultural groups though its children led him to co-found Inner-City Arts in 1989.  The non-profit art center uses the arts to bridge cultural, ethnic and language barriers and to develop the creative arts potential of inner city children, which in turn, builds their self-esteem and enhances their quality of life. 
   
   <p>Starting in a second story loft in 1989 and concentrating mostly on the visual arts such as ceramics, ICA’s first studio served 550 children in industrial downtown Los Angeles.  In 1994, ICA completed a $2.5 million capital campaign and opened a new building where today over 100,000 inner city children participate in numerous programs including Drama, Dance, Music, Painting, Drawing, Ceramics, Media and Language Arts. 
   
   <p>The underlying principle to Irwin Jaeger’s philosophy can be described by a single word – perseverance.  He has always contended that success is not solely a function of luck, education or skill.  Rather, success results from the willingness of an individual to apply all of these in the persistent pursuit of excellence. 
   
   <p>In May 2012, Irwin Jaeger was honored for “Making a Difference through the Arts” by CITYarts, Inc. in New York City. </p>

</div>

{% endblock %}