{% extends 'base.html' %}
{% block content %}
  <div class="p-0 pic-edca m-0 w-100" style="height: 80%; no-repeat center; background-size: cover;"><img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg" class="img-fluid pic-edca" >
  </div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Board Member</h2>
</div>
<hr>

<div class="container mb-5">
        <img src="https://educate-ca.s3-us-west-1.amazonaws.com/BOA-PW.jpg" class="mb-3 mr-3 float-left" alt="Dr. Pamela Wiley" style="width:190px; height: 190px; border-radius: 10px;">
   <h4 class="">PAMELA WILEY, PH.D.</h4>
   <h6 class="mb-3">President, Los Angeles Speech and Language Therapy Center, Inc.</h6>
   <p>Pamela Wiley, Ph.D. is the President of the Los Angeles Speech and Language Therapy Center, Inc. and the founder of The Wiley Center, a 501 (c)(3) organization dedicated to providing direct services and support to children with autism spectrum disorders or other developmental disabilities throughout the lifespan. The Center has a solid reputation as a premier agency which works tirelessly on behalf of all children with special needs.
   
   <p>Dr. Wiley began her professional career with LAUSD serving in several capacities. While she enjoyed each experience, she wanted to do more and more importantly she wanted to do it her way. In 1979, she decided to strike out on her own and open a speech therapy clinic in the Baldwin Hills area of Los Angeles dedicated to providing quality services to children and their families from underserved communities.
   
   <p>With the dramatic increase in autism, Dr. Wiley and her team of speech-language pathologists and infant development specialists continue to forge the way for thousands of families throughout L.A. County. Her centers located in Maywood, Lawndale, Culver City, Los Angeles and Sherman Oaks provide comprehensive services to countless families regardless of income. As a result, Dr. Wiley has established long term relationships with her children and families, many of whom started as young as two and are now young adults in college, driving and looking forward to their independence.
   
   <p>In 2016, she developed a Workplace Social Skills Employment Readiness Program for young adults 18+ with autism as well as Spectrum Shield, unique hands on, 3 day, 2 night safety with law enforcement training program geared to ensure the safety of her students, particularly those of African American descent. Most recently, Dr. Wiley was awarded Honors of the American Speech-Language & Hearing Association, which is the highest level of distinction in her profession. She is only the 12th African American to receive this award.
   
   <p>Despite her busy schedule, Dr. Wiley takes time to serve on community-based organizations that make a difference in the lives of others. She currently serves on the Board of Directors for the Los Angeles Urban League and the LA Marketplace March of Dimes, as well as the Educate California Advisory Board.
   
   <p>She is also the proud mother of daughters Alexis Wiley Mo and Ashley Wiley Johnson and 3 “grand Angels” who are the love of her life.</p>


{% endblock %}