{% extends 'base.html' %}
{% block content %}
  <div class="p-0 pic-edca m-0 w-100" style="height: 80%; no-repeat center; background-size: cover;"><img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/EdCA-BackgroundPic9.jpg" class="img-fluid pic-edca" >
  </div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Board Member</h2>
</div>
<hr>

<div class="container mb-5">
        <img src="https://educate-ca.s3-us-west-1.amazonaws.com/BOA-RJR1.jpg" class="mb-3 mr-5 float-left" alt="Ray Roche" style="width:190px; height: 190px; border-radius: 10px;">
   <h4 class="">RAY ROCHE</h4>
   <h6 class="mb-3">District Operations Manager Southern California, UPS</h6>
   <p>Raymond (Ray) Roche was born in Stamford, Connecticut and named after his mother, Rose Raymonde Roche. He is the sixth of nine children born to Louis and Rose Roche, who proudly immigrated to the United States from Port au Prince, Haiti.
   
   <p>Ray attended Catholic School for nine years and served as an altar boy for five of those years, before attending a technical high school. After high school, Ray enlisted in the United States Marine Corps and went off to Parris Island for Boot Camp. His enlistment took him from North Carolina to the Fjords in Norway and eventually to Bonn, Germany. It was in Bonn where he met his future wife, Kerstin. Together, they travelled to Spain where she studied for her Spanish Degree and he studied Spanish in the morning and German at night.
   
   <p>Ray’s career with UPS began as a driver in Bonn, Germany and progressed as he and Kerstin moved from Germany to the United States. During his career at UPS, Ray has held positions as an On Road Supervisor, Package Dispatch Supervisor, and Business Manager while in Yonkers and Manhattan North, NY, and Danbury, CT. His drive and ambition later positioned him for an opportunity as the Training Manager for the Northeast District. That opportunity was instrumental in opening Ray’s eyes to how important it is to ensure that a team is well trained, as he saw first-hand the benefits of quality trained team members.
   
   <p>In 2016, Ray received another promotion, to Division Manager, where his role expanded to not only managing projects, but leading and training teams to take on more responsibilities. Ray’s next promotion, and current position, came in February 2019 as District Operations Manager in Southern California.
   
   <p>In the community, Ray serves as an Advisory Board Member for Educate California. Ray received his Bachelor’s Degree from the University of Connecticut and his Master’s Degree in Organizational Effectiveness and Leadership from Charter Oak State College. He lives is Placentia, California with his wife Kerstin and their two children, Connor and Sinead. In his free time, Ray enjoys ballroom dancing, his dog and serving the community.</p>

{% endblock %}