{% extends 'base.html' %}
{% block content %}
  <div class="p-0 pic-edca m-0 w-100" style="height: 80%; no-repeat center; background-size: cover;"><img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg" class="img-fluid pic-edca" >
  </div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Board Member</h2>
</div>
<hr>

<div class="container mb-5">
        <img src="https://educate-ca.s3-us-west-1.amazonaws.com/BOA-SC5.jpg" class="mb-3 mr-3 float-left" alt="Samona Caldwell" style="width:190px; height: 190px; border-radius: 10px;">
   <h4 class="">SAMONA CALDWELL (Board Chair)</h4>
   <h6 class="mb-3">Government Affairs Coordinator, State Farm</h6>
   <p>Samona Caldwell is a Government Affairs Coordinator with State Farm Insurance Companies in California.  Samona’s territory extends from the northern part of Los Angeles County to the Mexican Border and includes Nevada.  
   
   <p>As a Government Affairs Coordinator, Samona’s primary goal is to assist in building relationships between State Farm associates and Congressional and State legislators to foster a positive business environment.  She also works with legislators in her territory to educate them on public policy issues that relate to the insurance industry.
   
   <p>Samona began her career with State Farm in 1995 as a Homeowners Claim Representative before transitioning to Public Affairs in 2006 and ultimately to Government Affairs in 2015.
   
   <p>Mrs. Caldwell serves as a Board Member for the Valley Industry and Commerce Association and as Vice Chair for the Los Angeles African-American Women in Policy Institute (LAAAWPI). She's also an Advisory Board Member for the Los Angeles Brotherhood Crusade and serves as Educate California's Board Chair.
   
   <p>Samona holds State and City wide positions with the Diversity Coalition Committee, Signal Hill, CA and the CA Department of Insurance. She is also a member of the Public Relations Society of America (PRSA) and an alumnae of Leadership CA, 2020.

   <p>Samona enjoys working out, reading and hiking with her family. She is married and lives in Signal Hill, CA with her husband, two kids and Terrier mix.  
</p>

</div>

{% endblock %}