{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educate California: Bridging the Gaps</title>
    <link rel="shortcut icon" href="https://educate-ca.s3-us-west-1.amazonaws.com/EdCA-SiteImage.jpg" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body class="w-100 mw-100 min-vh-100">
    <header class="header">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-md fixed-top shadow navbar-light bg-white">
            <div class="container-fluid">
                <div class="d-flex align-items-center">
                    <a href="{% url 'home' %}" class="navbar-brand pt-1 d-flex align-items-end">
                        <img src="https://educate-ca.s3-us-west-1.amazonaws.com/EdCA-Logo.jpg" alt="..." style="width: 170px;">
                    </a>
                </div>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="{% url 'home' %}" class="nav-link">HOME</a>
                        </li>

                         <li class="nav-item">
                            <a href="{% url 'lifeprep' %}" class="nav-link">LIFEPREP ACADEMY</a>
                        </li>

                        {% comment %} <li class="nav-item">
                            <a href="{% url 'forum' %}" class="nav-link">FUNDERS FORUM</a>
                        </li> {% endcomment %}
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">ABOUT US</a>
                            <div class="dropdown-menu pl-2 text-left">
                            
                            <a href="{% url 'partners' %}" class="nav-link">Partners</a>
                                
                            <a href="{% url 'board' %}" class="nav-link">Board & Financials</a>
                            
                            <a href="{% url 'newsletter' %}" class="nav-link">Newsletter</a>

                            <a href="{% url 'contact' %}" class="nav-link">Contact Us</a>
                            </div>
                        </li>
                        &nbsp
                        <li class="nav-item">
                           <a href="{% url 'donate' %}"> <button class="btn btn-warning font-weight-bold">GIVE TODAY</button></a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- /Navbar -->
    <div class="container-fluid" style="min-height: calc(100vh-100px); margin-top: 110px;">
        {% block contentbefore %}
        {% endblock %}
        {% block content %}
        {% endblock %}
        {% block contentafter %}
        {% endblock %}
    </div>
    <!-- Footer -->
    <footer class="container cposition-relative z-index-10 d-print-none">
        <div class="font-weight-light text-grat-800">

                <div class="row ">
                    <div class="col text-md-left">
                        <p class="text-sm mb-md-4 float-left">© 1998 - 2021 Educate California. All Rights Reserved.</p>
                    </div>
                    <div class="col text-md-right">
                    <a style="color: #3b5998" href="https://www.facebook.com/lifeprepacademycalifornia/" target="_blank" role="button">
                    <i class="fab fa-facebook-f fa-lg"></i></a>
                        &nbsp

                    <!-- Twitter -->
                    <a style="color: #55acee" href="https://twitter.com/EducateCA" target="_blank" role="button">
                    <i class="fab fa-twitter fa-lg"></i></a>
                        &nbsp

                    <!-- LinkedIn -->
                    <a style="color: #ac2bac" href="https://www.linkedin.com/in/educateca/" target="_blank" role="button">
                    <i class="fab fa-linkedin-in fa-lg"></i></a>
                    </div>

                </div>

        </div>
    </footer>
    <!-- /Footer -->


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/c6d585037c.js" crossorigin="anonymous"></script>
</body>
</html>