xs
.pic-edca {
    min-height: 43vh;
}
/* sm */
@media (min-width: 768px) {

}
/* md */
@media (min-width: 992px) {
    .pic-edca {
        min-height: 35vh;
    }
}
/* lg */
@media (min-width: 1200px) {
    .pic-edca {
        min-height: 43vh;
    }
}