xs
.pic-edca {
    min-height: 32vh;
}

/* sm */
@media (min-width: 300px) {
    .pic-edca {
        min-height: 22vh;
}
/* md */
@media (min-width: 750px) {
    .pic-edca {
        min-height: 32vh;
    }
}
/* lg */
@media (min-width: 1200px) {
    .pic-edca {
        min-height: 43vh;
    }
}
